# dependencies
node_modules/
.pnp
.pnp.js

# env files
.env
.env.local
.env.*.local

# build outputs
.next/
out/
dist/
build/

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# misc
*.tsbuildinfo
